# Dependencies
node_modules/

# Nuxt build
.nuxt/
.output/
apps/desktop/dist/

# Tauri
src-tauri/target/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Others
TODO.md
docs/notes/*.md
.vindicta_codex_*.txt
_tmp_*
